.top-header{
    grid-area: header;
    justify-self: stretch;
    background-color: #1f1f20;
    position: fixed;
    margin: 0;
    color: #dddddd;
    z-index: inherit;
}

.top-header h1{
    display: inline-block;
    margin: 5px;
    color: #ffcf75;
    padding: 8px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    z-index: inherit;
}

.top-header p{
    float: right;
    text-align: right;
    margin: 25px;
    z-index: inherit;
}