.header {
    grid-area: header;
    background-color: #1f1f20;
    margin: 0;
    color: #dddddd;
    z-index: inherit;
}

.header h1 {
    display: inline-block;
    margin: 5px;
    color: #ffcf75;
    padding: 8px;
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    z-index: inherit;
}

.header p {
    float: right;
    text-align: right;
    margin: 25px;
    z-index: inherit;
}