body {
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 12vh auto;
    grid-template-areas:
        "header header"
        "side-nav content";
}

.error{
    /* background-color: red; */
    width: 95%;
    height: auto;
}

.error textarea{
    resize: none;
    /* padding: 10px; */
    width: 100%;
    border: none;
    margin: 0;
    background-color: red;
}

.error textarea:focus {
    outline: none;
}