body{
    height: 100vh;
    display: grid;
    grid-template-columns: [left] 150px [side-nav] auto [right];
    grid-template-rows: [top] 90px [header] 20px [top-nav] auto [bottom];
    grid-template-areas: 
        "header" "header"
        "top-nav" "top-nav"
        "side-nav" "content";
}