{% extends 'layout.html' %}
{% block content %}


<link rel="stylesheet" href="/static/css/content.css">
<div style="height: 100%;">
    <table>
        <tbody>
            <tr>
                <!-- header row -->
                <th>White Player</th>
                <th>Black Player</th>
                <th>White Won</th>
                {% if has_user %}
                <th></th>
                {% endif %}
            </tr>
            <tr>
                <!-- white input -->
                <!-- autofills when typing -->
                <td><input type="text" name="white" id="white" placeholder="White Player" list="white drop"
                        onkeyup="autofill_matches('white')">
                    <datalist id="white drop">
                        {% for player in players %}
                        <option value={{player}}></option>
                        {% endfor %}
                    </datalist>
                </td>
                <!-- black input -->
                <td><input type="text" name="black" id="black" placeholder="Black Player" list="black drop"
                    onkeyup="autofill_matches('black')">
                    <datalist id="black drop">
                        {% for player in players %}
                        <option value={{player}}></option>
                        {% endfor %}
                    </datalist>
                </td>
                <!-- winner dropdown -->
                <td>
                    <select name="winner" id="winner">
                        <option value="-1">Select a Winner</option>
                        <option value="1">White Won</option>
                        <option value="0">Black Won</option>
                        <option value="0.5">Draw</option>
                    </select>
                </td>
                {% if has_user %}
                <td><input type="submit" value="Submit" onclick="submit()"></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
<script src="../static/javascript/addmatch.js"></script>

{% endblock %}