

<div class="header">
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- logo -->
    <!-- <img src="/static/images/circle.png" alt="CIRCLE" class="logo"> -->
    <div class="title">
        <h1>Chess Club</h1>
    </div>
    <div class="login">
        <p id="user" style="margin: 0;">User: Guest</p>
        <a href="/login" id="login link">Login</a>
        <a href="/logout" id="logout link">Logout</a>
    </div>
    
</div>
<script src="/static/javascript/header.js"></script>